.places__paragraph {
  box-sizing: border-box;
  grid-area: paragraph;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 350px) {
  .places__paragraph {
    max-width: 288px;
    margin-left: 16px;
  }
}