.places {
  margin: 92px auto;
  max-width: 984px;
  height: 100%;
  color: #fff;
}

@media (max-width: 1024px) {
  .places {
    margin: 90px 48px;
  }
}

@media (max-width: 1001px) {
  .places {
    margin: 90px 24px;
  }
}

@media (max-width: 370px) {
  .places {
    margin: 0 auto 66px;
  }
}