.places__website_url-heading {
  height: 12px;
  margin: 0 0 12px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAA;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .places__website_url-heading {
    line-height: 100%;
  }
}