.places__article {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  grid-template-areas: 
  "title website"
  "img paragraph";
  gap: 48px 40px;
  max-width: 984px;
}

.places__article:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .places__article {
    grid-template-columns: 440px minmax(0, 1fr);
    gap: 48px 32px;
  }
}

@media (max-width: 1020px) {
  .places__article {
    grid-template-columns: 340px minmax(0, 1fr);
    gap: 48px 28px;
  }
}

@media (max-width: 750px) {
  .places__article {
    grid-template-columns: 320px minmax(0, 1fr);
    grid-template-areas: 
    "title"
    "website"
    "img"
    "paragraph";
    gap: 32px;
  }
}