.header__link {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  width: 29px;
  height: 28px;
  /* text-align: right; */
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover {
  transition: .3s ease-out;
  opacity: 0.8;
}