.places__paragraph_text {
  margin: 0 0 26px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  display: grid;
  align-content: start;
  align-items: start;
}

.places__paragraph_text:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .places__paragraph_text {
    font-size: 16px;
    margin: 0 16px 25px;
  }
}