.places__website {
  max-width: 456px;
  margin: 0;
  padding: 0;
  grid-area: website;
  display: grid;
  grid-template-columns: repeat(1, minmax(46px, max-content));
  align-content: end;
  justify-content: space-between;
}

@media (max-width: 370px) {
  .places__website {
    max-width: 288px;
    margin-left: 16px;
  }
}