.places__website {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: website;
  display: grid;
  align-content: end;
  align-items: end;
}

@media (max-width: 320px) {
  .places__website {
    margin: 0 16px;
  }
}